#video_preview
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 320px;
    height: 240px;
    left: 0px;
    bottom: 0px;
    border: 1px solid white;
    pointer-events: none;
    z-index:999;
}

.videoUI {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 400px;
    height: 140px;
    z-index: 15;
    opacity:1.0;
    pointer-events: none; /* allow click-through in transparent areas */
}


#live_label{
    display: flex;
    justify-content: center;
    font-size: 9pt;
    width: 100%;
}

.video-canvas-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 10px;
    bottom:0px;
    border: 1px solid #ddd;
    pointer-events: none;
    opacity:1.0;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.output_canvas {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 320px;
    height: 240px;
    left: 0px;
    bottom: 0px;
    border: 1px solid white;
    pointer-events: none;
    z-index:999;
}

.control-panel {
    position: absolute;
    left: 10px;
    top: 10px;
}
